<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
 
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <link href="./assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

  <link href="./assets/demo/demo.css" rel="stylesheet" />
  <link href="js/otp.css" rel="stylesheet" />
</head>

<body class="">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">We have sent a verification code on your email</h5><span class="mobile-text">Please enter the code here<b class="text-danger"></b></span>
            <div class="d-flex flex-row mt-5">
                <form method="post" action="/otpverify">
                    <label for-"otphandler">Enter OTP</label>
                    <input type="text" id="otphandler" name="otp" >
                    <label for-"ahandler">PNR No.</label>
                    <input type="text" id="ahandler" name="PNR" >
                    <label for-"bhandler">account No.</label>
                    <input type="text" id="bhandler" name="account_address" >
                    <input type="submit" value="Check Code">
                </form>
            </div>
        </div>
    </div>
</body>

</html>






